<a href="#/login"><img src="/images/cover.png" style="margin-right: 10px;" height="110"/></a>
<nav class="navbar navbar-default">
  <div class="container" ng-controller="navBarController">
    
    <ul class="nav navbar-nav" >
      <li class="dropdown">
          <a  class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Propisi<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li role="button" ><a href="#/predlozeniPropisi">Predloženi</a></li>
          </ul>
        </li>
    
    </ul>
      
  </div>
</nav>